# Laravel & PHP
/vendor/
/node_modules/
.env
.env.*
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.env.backup
.DS_Store

# Laravel caches and compiled files
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
.idea
.vscode

# System files
Thumbs.db
